.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="/web/html") HTML
      li
        a(href="./Javascript") JavaScript
      li
        a(href="./css") CSS
      li
        a(href="./vue") VUE
      li
        a(href="./nodejs") NODEJS
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章