.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") HTML
      li
        a(href="") JavaScript
      li
        a(href="") CSS
      li
        a(href="") VUE
      li
        a(href="") NODEJS
      li
        a(href="") BIGDATA
      li
        a(href="") JAVA
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章